<html>

<head>
  <link rel="icon" href="public/assets/logo.png" />
  <title>DumbWays</title>
  <link rel="stylesheet" type="text/css" href="public/style.css" />
  <script src="sticky-navbar.js"></script>
</head>

<body>
  <div class="container-main">
    <nav id="navbar">
      <div class="left-side">
        <img src="public/assets/logo.png" alt="logo" />
        <ul>
          <li class="bold"><a href="/">Home</a></li>
          <li><a href="/project-add">Add Project</a></li>
        </ul>
      </div>
      <div class="right-side">
        <a href="/contact">Contact Me</a>
      </div>
    </nav>
    <div class="container-content" id="container-content"></div>
  </div>
</body>

</html>